<strong>Olá, {{ deliveryman }}</strong>
<p>Uma nova encomenda foi registrada, veja os detalhes abaixo:</p>
<p>
  <strong>Produto: </strong> {{ product }} <br />
  <strong>Distinatário: </strong> {{ recipient }} <br />
  <strong>Endereço: </strong> {{ address }} <br />
  <strong>Número: </strong> {{ number }} <br />
  <strong>Complemento: </strong> {{ complement }} <br />
  <strong>CEP: </strong> {{ zipcode }} <br />
  <strong>Cidade: </strong> {{ city }} <br />
  <strong>Estado: </strong> {{ state }} <br />
  <br />
  <small>
    O produto já está disponivel para retirada.
  </small>
</p>
